@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;800&family=Glory:ital,wght@0,300;0,600;1,400&family=Roboto:ital,wght@0,100;0,500;1,100&family=Satisfy&display=swap');

body {
  font-family: "Glory", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  line-height: 20px;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
}

button {
  width: 230px;
  height: 80px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: "Glory", sans-serif;
  font-size: 30px;
  background-color: #dbc0d0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
   margin: 10px; 

}